<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.server.mapper.PostSearchMapper">
    <select id="searchPosts" resultType="hello.board.server.dto.PostDto">
        SELECT `id`,
               `name`,
               `contents`,
               `categoryId`,
               `userId`,
               `createTime`,
               `updateTime`,
               `views`
        FROM `post`
        WHERE  1=1
        <if test="name != null and name != ''">
            AND name LIKE CONCAT(#{name}, '%')
        </if>
        <if test="contents != null and contents != ''">
            AND contents LIKE CONCAT(#{contents}, '%')
        </if>
        <if test="categoryId != 0">
            AND categoryId = #{categoryId}
        </if>
        <if test="sortStatus != null">
            <!-- mysql 5.7 desc 지원 x -->
            <if test="sortStatus.toString() == 'OLDEST'">
                ORDER BY categoryId, name, createTime
            </if>
            <if test="sortStatus.toString() == 'CATEGORIES'">
                ORDER BY categoryId
            </if>
        </if>
    </select>
</mapper>
